.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  font-size: 2rem;
  color: white;
}

.get-quiz {
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 8px;
}
