.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  width: 60%;
}

.retake-button {
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 8px;
}
